.workProcess{
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  row-gap: 120px;
  &__block{
    display: flex;
    column-gap: 75px;
    &:nth-child(2n+2  ){
      flex-direction: row-reverse;
    }
  }
  &__row{
    display: flex;
    column-gap: 30px;
  }
  &__list{
    display: flex;
    flex-direction: column;
    row-gap: 32px;
    &-item{
      border: 1px solid #000000;
      padding: 14px 40px;
      cursor: pointer;
      &:hover{
        background: #29A28C;
        color: white;
        border: 1px solid #29A28C;
      }
    }
  }
  &__title{
    @include title();
    margin-bottom: 25px;
  }
  &__subtitle{
    @include text(400,25px,35px);
    letter-spacing: 0.025em;
    color: #29A28C;
    margin-bottom: 41px;
  }
  &__colList{
    display: flex;
    flex-direction: column;
    row-gap: 44px;
    &-item{
      @include text(400,20px,23px);
      letter-spacing: 0.065em;
      position: relative;
      &::before{
        content: '';
        position: absolute;
        left: -50px; top: 25px;
        border-bottom: 1px solid black;
        width: 30px;
      }
    }
  }
  &__btn{
    @include text(400,16px,22px);
    margin-top: 80px;
    box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.25);
    border-radius: 32px;
    padding: 10px 66px;
    cursor: pointer;
    background: black;
    color: white;
    &:hover{
      background: white;
      color: black;
    }
  }


}
@media (max-width: 1024px){
  .workProcess{
    row-gap: 50px;
  }
  .workProcess__row{
    flex-direction: column-reverse;
  }
  .workProcess__list{
    flex-direction: row;
    column-gap: 32px;
  }
  .workProcess__block{
    flex-direction: column;
  }
  .workProcess__block:nth-child(2n+2) {
    flex-direction: column;
  }
  .workProcess__colList{
    row-gap: 30px;
  }
  .workProcess__btn{
    margin-top: 30px;
  }
}
@media (max-width: 375px){
  .workProcess__title{
    font-size: 30px;
  }
  .workProcess__list{
    column-gap: 20px;
  }
}