.card {
  box-shadow: 0 3px 11px rgba(3, 74, 62, 0.56);
  border-radius: 27px;
  width: 340px;
  height: 550px;
  padding: 108px 50px 70px;
  position: relative;
  left: 0;
  top: 0;
  &__triangle{
    clip-path: polygon(64% 0, 100% 34%, 100% 0);
    background: #017B65;
    width: 400px;
    height: 500px;
    border-radius: 27px;

    position: absolute;
    right: 0;
    top: 0;
    z-index: 4;
    &-img{
      position: absolute;
      right: 5%;
      top: 5%;
    }
  }

  &__title {
    @include text(400, 20px, 28px);
    letter-spacing: 0.065em;
    text-transform: uppercase;
    height: 60px;

  }

  &__text {
    @include text(300, 14px, 21px);
    letter-spacing: -0.015em;
    height: 190px;
    margin: 50px 0 34px;
  }


  &__block {
    display: flex;
    column-gap: 20px;
    align-items: center;
    cursor: pointer;
   &:hover{

     p {color: #29A28C;}
     svg{
       path{
         fill: #29A28C;
         stroke: #29A28C;
       }

     }
   }

  }


  &__more {
    @include text(300, 15px, 22px);
    letter-spacing: 0.05em;

  }


}