.header{
  background: rgba(41, 162, 140, 0.11);
  backdrop-filter: blur(8px);
  padding: 14px 0 15px ;position: absolute;
  left: 0;
  top: 0;
  z-index: 5;
  width: 100%;


  &__row{
    display: flex;
    justify-content: space-between;
    align-items: center;

  }
  &__logo{
    @include text(700,18px,25px);
    color: white;
    display: flex;
    align-items: center;
  }
  &__list{

    display: flex;
    column-gap: 45px;
   &-item{
     @include text(400,18px,25px);
     color: white;



   }
    &-item:nth-child(2){
      display: flex;
      align-items: center;
      column-gap: 10px;
      cursor: pointer;
    }
    &-item:nth-child(2)::after{
      content: url("../Assets/images/Header/arrowDown.png");

    }
    &-link{
      color: white;
      &:hover{
        color: #29A28C;
      }
    }
  }
}